img {
  width: 200px;
  height: 300px;
  margin: 100px;
  object-fit: cover;
}

#stuff {
  padding: 20px;
  background-color: rgba(200,  200, 200, 0.5);
  margin: auto 40px;
}

.name {
  font-family: "Proza Libre";
  font-size: 18px;
}
.parentalLineage {
  font-family: "Proza Libre";
  font-size: 18px;
}

.subtitle {
  font-family: "Proza Libre";
  font-size: 18px;
}

.description {
  font-family: "Proza Libre";
  font-size: 18px;
}

.why {
  font-family: "Proza Libre";
  font-size: 18px;

}
