
img {
  width: 600px;
  height: 450px;
}
/*
.name{
  font-family: monospace;
  font-size: 32px

}

.subtitle{
  font-family: monospace;
  font-size: 24px;
  display: inline;
  padding-bottom: 25px;
}

.lineage{
  font-family: monospace;
  font-size: 18px;
  display: inline;
} */
