


img {
  width: 300px;
  height: 300px;
  margin: 100px;
}

.parentalLineage {
  font-family: "Proza Libre";
  fotn-size: 18px;
}


/*
.name{
  font-family: monospace;
  font-size: 32px

}

.subtitle{
  font-family: monospace;
  font-size: 24px;
  display: inline;
  padding-bottom: 25px;
}

.lineage{
  font-family: monospace;
  font-size: 18px;
  display: inline;
} */
