#pairings {
  display: none;
}

#home {
  font-size: 20px;
  padding: 20px;
  text-transform: uppercase;
  color: black;
}




select {
  display: inline;
  border-style: solid;
  margin-top: 200px;
  margin-left: 400px;
  font-family: monospace;
  font-size: 18px;
  text-align: center;
  height: 32px;
  width: 520px;
}
